# macOS Finder metadata
.DS_Store
.DS_Store?
._*
.AppleDouble
.LSOverride
Icon?

# macOS volume and indexing data
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# macOS network share metadata
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
