{$NGAPD_SITE_ADDRESS:https://ngapd.local} {
	tls internal
	encode zstd gzip

	handle /api/* {
		reverse_proxy api:3000
	}

	handle /health/* {
		reverse_proxy api:3000
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
